@font-face {
    font-family: 'yunranofont';
    src: url('https://raphaeldelhomenede.github.io/tifsec-nsi-rf-gd/TNSI/seances/fonts/yunranofont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'yunranofont', sans-serif;
}
