@font-face {
    font-family: 'yunranofont';
    src: url('https://tifsec-nsi.rf.gd/TNSI/watch/f.php?fonts1=yunranofont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'yunranofont', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    margin-left: 200px;
    padding: 20px;
    min-height: 80vh;
}

a{
    color: black;
}

a:hover{
    color: orange;
}

/*.content-section {
    display: none;
}*/

.content-section.active {
    display: block;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: white;
    padding-top: 20px;
    transition: width 0.3s ease;
    overflow-y: auto;
    scrollbar-width: none; /* Masque la barre de défilement pour Firefox */
}

aside::-webkit-scrollbar {
    display: none; /* Masque la barre de défilement pour Chrome, Safari, et Opera */
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: 10px;
}

aside ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* Style pour l'élément de menu actif (séance en cours) */
aside ul li a.active {
    background-color: #4CAF50; /* Couleur pour l'élément actif */
    color: white;
    font-weight: bold;
}

aside ul li a:hover {
    background-color: #555;
}

.hamburger {
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    text-align: left;
    cursor: pointer;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2, h3, h4, h5{
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

h4, h5, p, ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* Styles spécifiques pour le calendrier */
table.calendar {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.current-week {
    background-color: #add8e6; /* Couleur bleue clair pour la semaine en cours */
}

pre{
    background-color: black;
    color: white;
}

.today {
    background-color: #007BFF; /* Bleu vif pour le jour actuel */
    color: white; /* Texte blanc pour le contraste */
}

.vacation {
    background-color: #B2E4A6; /* Vert pastel pour les vacances */
    color: black; /* Texte noir ou foncé pour la lisibilité */
}

.holiday {
    background-color: #FF6B6B; /* Rouge clair pour les jours fériés */
    color: white; /* Texte blanc ou clair */
}

/*iframe[class="tifsecpdf"]{
    width: 87vw;
    height: 42vw;
}*/

iframe[class="tifsec1"] {
    width: 102%;
    height: 5000px;
    margin-top: -30px;
}

/*iframe[class="tifsec1"], */iframe[class="tifsecpdf"]{
    width: 102%;
    height: 85vh;
    margin-top: -30px;
}

.rep {
    visibility: hidden;
}
